[data-bs-theme="dark-custom"] {
    --bs-primary: #3d362e;
    --bs-primary-rgb: 61, 54, 46;
    --bs-secondary: #755640;
    --bs-secondary-rgb: 117, 86, 64;
    --bs-dark: #1a1612;
    --bs-dark-rgb: 26, 22, 18;
    --bs-light: #d6d9d2;
    --bs-light-rgb: 214, 217, 210;
    --bs-third: #998d74;
    --bs-third-rgb: 153, 141, 116;
    --bs-fourth: #54351f;
    --bs-fourth-rgb: 84, 53, 31;
    --bs-fifth: #b6aea2;
    --bs-fifth-rgb: 182, 174, 162;
    --bs-sixth: #ac9b94;
    --bs-sixth-rgb: 172, 155, 148;
    --bs-info: #8abdca;
    --bs-info-rgb: 138, 189, 202;
    --bs-body-color: var(--bs-light);
    --bs-body-bg: var(--bs-dark);

    $carousel-dark-indicator-active-bg: $white;
    $carousel-dark-caption-color: $white;

    .navbar-theme {
        background-color: var(--bs-fourth);
        color: var(--bs-light);
    }

    .offcanvas-theme {
        background-color: var(--bs-dark);
        color: var(--bs-light);
    }
    
    .nav-pills {
        // nav-link active
        --bs-nav-pills-link-active-bg: var(--bs-fourth);
        --bs-nav-pills-link-active-color: var(--bs-light);
        --bs-nav-pills-border-radius: var(--bs-border-radius);
    }

    .dropdown-menu {
        // dropdown
        --bs-dropdown-color: var(--bs-light);
        --bs-dropdown-bg: var(--bs-primary);
        --bs-dropdown-link-hover-color: var(--bs-light);
        --bs-dropdown-link-hover-bg: var(--bs-third);
        --bs-dropdown-link-active-color: var(--bs-light);
        --bs-dropdown-link-active-bg: var(--bs-secondary);
        --bs-dropdown-link-disabled-color: var(--bs-light);
    }

    .dropdown-item.disabled, .dropdown-item:disabled {
        background-color: var(--bs-dropdown-link-active-bg);;
    }
}