// Custom variables
$primary: #ddd0b8;
$secondary: #9c7354;
$dark: #2f241c;
$light: #f3f6f2;
$third: #b2a089;
$fourth: #7a5135;
$fifth: #b6aea2;
$sixth: #ac9b94;
$info: #8abdca;
$body-color: $dark;
$body-bg: $primary;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "third": $third,
    "fourth": $fourth,
    "fifth": $fifth,
    "sixth": $sixth,
    "dark": $dark,
    "light": $light,
    "info": $info,
    "body-color": $body-color,
    "body-bg": $body-bg,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 2000px
);

// Offcanvas custom
$offcanvas-horizontal-width: 200px;

// btn-close configuration
$btn-close-width: 1.1em;
$btn-close-color: $light;

// nav-link active
$nav-pills-link-active-bg: $third;
$nav-pills-link-active-color: $light;

// dropdown
$dropdown-color: $dark;
$dropdown-bg: $third;
$dropdown-link-hover-color: $light;
$dropdown-link-hover-bg: $dark;
$dropdown-link-active-color: $light;
$dropdown-link-active-bg: $secondary;
$dropdown-min-width: 100%;

// Spinner
$spinner-width: 5rem;

// Importa las funciones de Bootstrap para utilizarlas en tus variables
@import '../../../vendor/twbs/bootstrap/scss/bootstrap.scss';