@import './custom-variables';
@import './custom-variables-dark';

// Font family
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
    font-family: 'Caveat', cursive;
}

// Colors and backgrounds
.icon-custom {
    color: $light;
    transition: 0.5s;
}

.icon-custom:focus,
.icon-custom:active,
.icon-custom:hover {
    opacity: 0.25;
}

.navbar-theme {
    background-color: $secondary;
    color: $light;
}

.offcanvas-theme {
    background-color: $fourth;
    color: $light;
}

.pcustom-news {
    padding: 0 6rem;
}

.pcustom-news-title {
    padding: 0 3rem;
}

.carousel-indicators {
    margin-bottom: -1rem;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
    .navbar-expand-xxl .offcanvas, .navbar-expand-xxl .offcanvas-end {
        width: 100%;
    }

    .pcustom-news, .pcustom-news-title {
        padding: 0;
    }
}