@import './custom-variables';

h1 {
    font-family: "Times New Roman", Times, serif;
}

.icon-custom {
    color: $light;
    transition: 0.5s;
}

.icon-custom:focus,
.icon-custom:active,
.icon-custom:hover {
    color: $dark;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
    .navbar-expand-xxl .offcanvas, .navbar-expand-xxl .offcanvas-end {
      width: 100%;
    }
}